#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo-button {
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logo {
  height: 20; /* Adjust the height as needed */
  width: 20px; /* Adjust the width as needed */
  /* fill: currentColor; */
  margin-right: 5px;
}

/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.container {
  white-space: nowrap;
}

.gray-text {
  color: gray;
}

.big-text {
  font-size: 30px;
}


.small-text {
  font-size: 20px;
  /* margin-left: 2px; */
}

.button {
  padding: 10px 20px;
}
